{% extends '_partials/base.html' %}

{% block title %}
<title> Blogging System</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1 style=" text-align: center;">Blogging Videos</h1>

    <hr>

    <div class="container">
        <br>
        <div class="container mt-5">
            <div class="row">
                {% for v in videos %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ v.title }}</h5>
                            <p class="card-text">{{ v.description }}</p>
                            <div class="ratio ratio-16x9">
                                <iframe src="https://www.youtube.com/embed/{{ v.url.split('=')[1] }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}