{% extends '_partials/base.html' %}

{% block title %}
<title> Blogging System</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1 style=" text-align: center;">Blogs Explore</h1>

    <hr>

    <div class="container">
        <a href="{{ url_for('blogs.blogs_form') }}"><button type="button" style="background-color: #9f0630;"
                class="btn text-white">Create Blog</button></a>
        <br>
        <br>
        <div class="container mt-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                {% for blog in blogs_data %}
                <div class="col">
                    <div class="card h-100">
                        <!-- Use MIME type for proper image display -->
                        <img src="data:{{ blog.blog_image_mimetype }};base64, {{ blog.blog_image }}" class="card-img-top" alt="{{ blog.blog_image_name }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ blog.title }}</h5>
                            <p class="card-text">{{ blog.blog_content | truncate(120) }}</p> <!-- Truncate long content -->
                            <p class="text-muted">Category: {{ blog.category.name }}</p>
                            <p class="text-muted">Published on: {{ blog.publish_datetime.strftime('%B %d, %Y') }}</p>
                            <p class="text-muted">Views: {{ blog.no_of_views }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ url_for('blogs.view_blog', id=blog.id) }}" class="btn btn-primary">Read More</a>
                            <!-- Update and Delete buttons can be shown conditionally to the author or admin -->
                            {% if current_user.is_authenticated and current_user.id == blog.author_id %}
                            <a href="{{ url_for('blogs.blogs_form', id=blog.id) }}" class="btn btn-outline-secondary">Update</a>
                            <a href="{{ url_for('blogs.delete_blog', id=blog.id) }}" class="btn btn-outline-danger">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col">
                    <p>No blogs found!</p>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
</div>

{% endblock %}