{% extends '_partials/base.html' %}

{% block title %}
<title> Blogging System</title>
{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6">
            <div class="column">
                <h1 class="mbr-section-title mbr-fonts-style mb-5 display-1"><strong>Voice Vision Venture Vibrance</strong></h1>
            
            <p class="mbr-text mbr-fonts-style display-7">
                Rise Above The Noise To Connect With Your and other's Thoughts.</p>
          <div class="mbr-section-btn mt-5"><a  style="background-color: #9f0630;" class="btn btn-lg mb-3 mb-md-4 mb-xl-5 display-2 text-white" href="#"><span>Let’s Talk!</span></a></div>
            </div>      
               
        </div>
        <div class="col-22 col-lg-6 mb-3 mb-md-4 mb-xl-5">
            <div class="column">
            
            <!-- <p class="mbr-text mbr-fonts-style display-7"> -->
                <img src="static/img/home1.jpg"
                class="img-fluid" alt="Sample image"></p>
            </div>                
        </div>
    </div>
</div>
<div class="container">
<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="mbr-section-head">
            <!-- <h3 class="mbr-section-title mbr-fonts-style align-center display-2">CATEGORIES</h3> -->
            
        </div>
    </div>
    <div class="col-md-3 col-lg-4 col-md-12">
        <!-- mbr-fonts-style align-center mb-3  -->
        <div class="card">
            <!-- <h4 class="mbr-section-subtitle mbr-fonts-style align-center mb-3 mt-3 display-7">01</h4> -->
            <h3 class="mbr-section-title text-center">LIFESTYLE </h3>
            <img src="static\img\lifestyle2.jpg" alt="Mobirise Website Builder">
            <BR>
           <a  style="background-color: #71989B;" class="btn btn-lg display-2" href="#"><span>Check this</span></a>
        </div>

    </div>
    <div class="col-md-3 col-lg-4 col-md-12">

        <div class="card">
            <!-- <h4 class="mbr-section-subtitle mbr-fonts-style align-center mb-3 mt-3 display-7">02</h4> -->
            <h3 class="mbr-section-title text-center">TECHNOLOGY</h3> 
            <img src="static/img/technology.jpg" alt="Mobirise Website Builder">
        <a  style="background-color: #71989B;" class="btn btn-lg display-2" href="#"><span>Check this</span></a>
        </div>

    </div>
    <div class="col-md-3 col-lg-4 col-md-12">

        <div class="card">
            <!-- <h4 class="mbr-section-subtitle mbr-fonts-style align-center mb-3 mt-3 display-7">03</h4> -->
            <h3 class="mbr-section-title text-center">EDUCATION AND CAREER</h3>
            <img src="static/img/educationandcareer.jpg" alt="Mobirise Website Builder">
            <!-- <p class="mbr-section-text mbr-fonts-style align-center mb-0 mt-4 display-7"> -->
            <br>
           <a  style="background-color: #71989B;" class="btn btn-lg display-2" href="#"><span>Check this</span></a>
        </div>

    </div>
</div>
</div>
<div class="container">
    <BR>
    <BR>
    <BR>

</div>
{% endblock %}